In [26]:
import pandas as pd
pd.options.display.max_columns = None
pd.set_option('display.max_rows', 10)

In [27]:
scores_ons_compiled1 = pd.read_excel("feature-eng-data/scores-ons-compiled1.xlsx")

In [28]:
scores_ons_compiled1.head(3)

,CompanyNumber,SIC,AssetsM,EstAssetsM,TurnoverM,EstTurnoverM,FTE,EstFTE,CalculationType,IR_CO2ePerAssetsM,IR_CO2ePerTurnoverM,IR_CO2ePerFTE,DefraRatio,NormalisedIrCO2ePerAssetsM,NormalisedIrCO2ePerTurnoverM,NormalisedIrCO2ePerFTE,ScoreC1a,ScoreC1t,ScoreC1f,ScoreC2,ScoreC1,S1S2TesCO2eEst,S1S2CO2e,root_parent,MeanTotalGHG,MeanCO2,MeanCH4,MeanN2O,MeanHFC,MeanPFC,MeanNF3,MeanSF6,GHGIntensity,CO2Intensity,PM10,PM25,CO,NMVOC,Benzene,Butadine,EnergyIntensity,Electricity,Petrol/diesel,Natural gas,OtherEenergy,EnergyTotal
0,00019457,329.0,3152.0,0.038998,603.3,1.571170,3152.0,4.0,Actuals,0.060444,0.078988,0.015111,1.3750,88.414665,39.608,7.726939,10,10.0,9.0,9.0,9.0,4.752723,47.63,C,122937.8,110754.621875,319.9,5781.643750,5166.559375,410.50625,0.3,504.234375,0.814688,0.724688,42.680938,32.870906,632.933031,409.348156,3.675875,0.593,2.6,1.81,0.69,0.83,9.38,12.70
1,00024869,6512.0,1048.0,0.073508,486.0,1.357635,1048.0,4.0,Actuals,0.253968,0.954733,0.442748,0.0375,88.414665,39.608,7.726939,10,9.0,8.0,6.0,9.0,1.300129,269.00,K,305.1,268.003125,1.0,0.946875,35.025000,0.08125,0.0,0.000000,0.000000,0.000000,0.032344,0.027031,2.050844,0.366812,0.015906,0.003,6.2,0.78,0.17,0.07,0.01,1.03
2,00029559,701.0,76060.0,0.149742,291.2,8.971006,76060.0,2.0,Actuals,516.260563,755.762887,2.891494,0.3750,88.414665,39.608,7.726939,2,1.0,5.0,2.0,2.0,4.977054,219927.00,M,2288.1,2144.109375,9.1,10.868750,100.643750,0.11875,0.0,23.209375,0.022500,0.020938,0.372188,0.322406,22.857313,4.384531,0.180562,0.039,1.6,0.88,1.12,0.17,0.08,2.25

In [29]:
sic_table = pd.read_excel("feature-eng-data/onslevel2sic-data-compiled.xlsx")

In [30]:
sic_table.head(3)

   SIC  GHGIntensity  CO2Intensity  Unnamed: 3 Unnamed: 4
0  1.0      5.320938      0.710000         NaN        NaN
1  2.0      0.060938      0.055938         NaN        NaN
2  3.0      1.540938      1.521250         NaN        NaN

In [34]:
# Calculate the mean by the "SIC" column
mean_by_sic = sic_table.groupby('SIC')['GHGIntensity', "CO2Intensity"].mean()

mean_by_sic

/var/folders/p6/yvn5sdc10690vb5dljmbnblm0000gn/T/ipykernel_63861/13622866.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  mean_by_sic = sic_table.groupby('SIC')['GHGIntensity', "CO2Intensity"].mean()

      GHGIntensity  CO2Intensity
SIC
1.0       5.320938      0.710000
2.0       0.060938      0.055938
3.0       1.540938      1.521250
5.0       2.407500      0.415312
6.0       0.680000      0.620938
...            ...           ...
93.0      0.088438      0.076562
94.0      0.043750      0.041875
95.0      0.033438      0.031250
96.0      0.032813      0.031563
97.0      0.020938      0.019063

[86 rows x 2 columns]

In [31]:
mean_by_sic.to_excel("feature-eng-data/onslevel2sic-data-compiled2.xlsx")

In [32]:
mean_by_sic = mean_by_sic.reset_index()

In [ ]:
level2_mapping = pd.read_excel()

In [33]:
ghg_level2_dict = {k: v for k, v in zip(mean_by_sic['SIC'], mean_by_sic['GHGIntensity'])}
co2_level2_dict = {k: v for k, v in zip(mean_by_sic['SIC'], mean_by_sic['CO2Intensity'])}

In [23]:
scores_ons_compiled1['MeanTotalGHG'] = scores_table_in_company['root_parent'].map(MeanTotalGHG_dict)
scores_ons_compiled1['MeanCO2'] = scores_table_in_company['root_parent'].map(MeanCO2_dict)

# Please get the parent level 2!

NameError: name 'scores_table_in_company' is not defined